:root {
  --primary-color: #2875d9;
  --secondary-color: #333333;
  --light-color: #f2f2f2;
  --grey-color: #6f6f6f;
  --resalt-color: #ffff00;
}

@font-face {
  font-family: "Computer Modern";
  font-style: normal;
  font-weight: normal;
  src: url("./paper/cmunrm.ttf");
}
@font-face {
  font-family: "Computer Modern";
  font-style: italic;
  font-weight: normal;
  src: url("./paper/cmunti.ttf");
}
@font-face {
  font-family: "Computer Modern";
  font-style: normal;
  font-weight: bold;
  src: url("./paper/cmunbx.ttf");
}
@font-face {
  font-family: "Computer Modern";
  font-style: italic;
  font-weight: bold;
  src: url("./paper/cmunbi.ttf");
}

/* Generic style */

* {
  box-sizing: border-box;
}

html,
body,
#write {
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font", "Computer Modern", monospace;
  background-color: none;

  counter-reset: img;
}
body,
#write {
  max-width: 1200px;
  text-align: justify;
  display: block;
  margin: auto;
}

/* headers style */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Computer Modern";
}

h1:first-child {
  text-align: center;
  font-style: italic;
  color: var(--secondary-color);
  font-size: 3.8rem;
  margin: 2.4rem auto;
}
h1:first-child::after {
  border-bottom: 3px solid var(--primary-color);
  content: "";
  width: 40%;
  display: block;
  margin: 3px auto;
  height: 3px;
}

h2 {
  font-size: 2.2rem;
  text-decoration: underline var(--primary-color);
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.6rem;
  margin: 1.1rem auto;
}

h4 {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
  margin-left: 0.7rem;
  font-style: italic;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

/* text style */

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
a {
  color: var(--primary-color);
}

/* list style  */

ul,
ol,
p {
  margin-left: 1.4rem;
}

li {
  list-style-type: upper-roman;
}
li::marker {
  color: var(--primary-color);
}

li > p > span:nth-child(1) > strong > span {
  color: var(--primary-color);
}
strong * {
  text-decoration: none;
  color: var(--secondary-color) !important;
}
/* table style */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#write table th,
#write table td {
  padding: 0.5em 1.5em;
}
#write table th {
  text-align: center;
}
#write table td {
  text-align: justify;
}
#write table td:nth-child(2n) {
  border-left: 1px solid var(--grey-color);
  border-right: 1px solid var(--grey-color);
}
#write table td:first-child {
  border: none;
  border-right: 1px solid var(--grey-color);
}
#write table td:last-child {
  border: none;
  border-left: 1px solid var(--grey-color);
}

/* Stuff */

sup.md-footnote {
  background-color: transparent;
  color: var(--primary-color);
  padding: 1px;
  margin: 0;
}

code,
.md-fences,
.sourceCode {
  background: var(--light-color);
}
.md-fences,
pre.sourceCode {
  font-size: 0.95em;
  padding: 0.5rem;
}
.show-fences-line-number .md-fences {
  padding-left: 0.5rem;
}

blockquote {
  margin: 2rem 6rem;
  padding: 0.5rem;
  font-style: italic;
  color: var(--primary-color);
  border-left: 0.2rem solid var(--primary-color);
}

blockquote p {
  padding: 0.2rem;
}
mark {
  background: var(--resalt-color);
}

/* images style */

figure {
  margin: 0.5rem auto;
  max-width: 100%;
  display: block;
}
figcaption {
  text-align: left;
  margin: 0.5rem auto;
  font: italic 0.7rem monospace;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  counter-increment: img;
}

figcaption:before {
  border-left: 0.2rem solid var(--primary-color);
  padding-left: 0.5rem;
  content: "Img " counter(img) ": ";
}

/* footnotes style */
.footnotes {
  font-family: "Computer Modern", Consolas;
}

/* Codes */
.cm-s-inner {
  margin: 0.95em;
}
.cm-s-inner * {
  font-weight: 600;
}
#typora-source * {
  font-family: "FantasqueSansMono Nerd Font", monospace;
}

li::marker,
figcaption:before,
table:after {
  font: normal bold 0.7rem monospace;
}
figcaption:before,
table:after {
  color: var(--secondary-color);
}

/*  Print Mode and page breaks. WkhtmlToPDF does not work on @print mode */

@media (max-width: 210mm) {
  img {
    max-height: 15cm;
  }
  html {
    font-size: 12pt;
  }

  .md-toc-h1 a {
    font-size: 1.2rem;
    color: var(--secondary-color) !important;
  }
  .md-toc-h3 a {
    color: var(--secondary-color) !important;
  }

  div[title="pb"],
  page-break {
    display: block;
    page-break-after: always;
    break-after: page;
  }

  nav {
    font-size: 0.9rem;
    page-break-after: always;
    page-break-before: always;
  }

  nav a {
    color: var(--secondary-color);
  }

  /* Move top-level headings to a new page on the right-hand side: */
  h1,
  h2 {
    page-break-before: right;
    break-before: recto;
  }

  /* Override the previous ruleset for the very first heading: */
  h1:first-of-type,
  section > h1:first-child {
    page-break-before: avoid;
    break-before: avoid;
  }

  /* Headings should not be the last paragraph on a page: */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  /* Consecutive headings with deepening level should not be split across pages: */
  h1 + h2,
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    page-break-before: avoid;
  }

  h1:first-of-type {
    page-break-after: always;
    font-size: 3.8rem;
    margin: 4.5cm auto;
  }
}
