:root {
  --primary-color: #2875d9;
}

@font-face {
  font-family: "Computer Modern";
  font-style: normal;
  font-weight: normal;
  src: url("./paper/cmunrm.ttf");
}

@font-face {
  font-family: "Computer Modern";
  font-style: italic;
  font-weight: normal;
  src: url("./paper/cmunti.ttf");
}

@font-face {
  font-family: "Computer Modern";
  font-style: normal;
  font-weight: bold;
  src: url("./paper/cmunbx.ttf");
}

@font-face {
  font-family: "Computer Modern";
  font-style: italic;
  font-weight: bold;
  src: url("./paper/cmunbi.ttf");
}

* {
  box-sizing: border-box;
}

html,
body,
#write {
  font-family: "Computer Modern";
  background-color: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Computer Modern";
}

h1:first-child {
  text-align: center;
  font-style: italic;
  color: #333;
  font-size: 3.8rem;
  margin: 2.4rem auto;
}

h1:first-child::after {
  border-bottom: 2px solid var(--primary-color);
  content: "";
  width: 33%;
  display: block;
  margin: 3px auto;
  height: 2px;
}

h1 {
  font-size: 2.2rem;
  color: var(--primary-color);
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

html {
  font-size: 13px;
}

body,
#write {
  max-width: 1200px;
  text-align: justify;
  display: block;
  margin: auto;
}

p {
  font-size: 1rem;
}

a {
  color: var(--primary-color);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#write table th,
#write table td {
  padding: 0.5em 1.5em;
}

#write table th{
  text-align: center;
}

#write table td{
  text-align: justify;
}
#write table td:nth-child(2n) {
  border-left: 1px solid #6f6f6f;
  border-right: 1px solid #6f6f6f;
}

#write table td:first-child{
  border:none;
  border-right: 1px solid #6f6f6f;
}

#write table td:last-child{
  border:none;
  border-left: 1px solid #6f6f6f;
}

/* Codes */
.cm-s-inner {
  margin: 0.95em;
}
.cm-s-inner * {
  font-weight: 600;
}

/* Stuff */

sup.md-footnote {
  background-color: transparent;
  color: var(--primary-color);
  padding: 1px;
  margin: 0;
}

code,
.md-fences,
.sourceCode {
  background: #f2f2f2;
}

.md-fences,
pre.sourceCode {
  font-size: 0.95em;
  padding: 0.5rem;
}

.show-fences-line-number .md-fences {
  padding-left: 0.5rem;
}

blockquote {
  margin: 2rem 0.2rem;
  padding: 0.3rem 0.5rem;
  color: #6f6f6f;
  border-left: 0.2rem solid var(--primary-color);
}

blockquote p {
  padding: 0.2rem 1.5rem;
}

mark {
  background: yellow;
}

figure {
  margin: 0.5rem auto;
  max-width: 100%;
  display: block;
}

figcaption {
  text-align: center;
  margin: 0.5rem auto;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/*
  Print Mode and page breaks.
  WkhtmlToPDF does not work on @print mode
*/

@media (max-width: 210mm) {
  img {
    max-height: 15cm;
  }
  html {
    font-size: 12px;
  }
  div[title="pb"],
  page-break {
    display: block;
    page-break-after: always;
    break-after: page;
  }
  nav {
    font-size: 0.9rem;
    page-break-after: always;
    page-break-before: always;
  }
  nav a {
    color: black;
  }
  /* Move top-level headings to a new page on the right-hand side: */
  h1,
  h2 {
    page-break-before: right;
    break-before: recto;
  }
  /* Override the previous ruleset for the very first heading: */
  h1:first-of-type,
  section > h1:first-child {
    page-break-before: avoid;
    break-before: avoid;
  }
  /* Headings should not be the last paragraph on a page: */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
  /* Consecutive headings with deepening level should not be split across pages: */
  h1 + h2,
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    page-break-before: avoid;
  }
  h1:first-of-type {
    page-break-after: always;
    font-size: 3.8rem;
    margin: 4.5cm auto;
  }
}
